<%- include("./public/header.html")%>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>api功能</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">主页</a>
            </li>
            <li>
                <strong>包屑导航</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Api功能</th>
                    <th>类型</th>
                    <th>URL接口</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(function(item){%>
                <% if(item[4]){ %>
                <tr>
                    <td><%=item[3]%></td>
                    <td><%=item[0]%></td>
                    <td>http://127.0.0.1:3000/api<%=item[1]%></td>
                    <td><%=item[5]%></td>
                </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>

    </div>
</div>

<%- include("./public/footer.html")%>