<!-- 头部顶部导航 ctrl+/ -->
<div class="header_top">
    <div class="container clearfix">
        <div class="fl">
            <a href="">小米商城</a>
            <span>|</span>
            <a href="">MIUI</a>
            <span>|</span>
            <a href="">IoT</a>
            <span>|</span>
            <a href="">云服务</a>
            <span>|</span>
            <a href="">金融</a>
            <span>|</span>
            <a href="">有品</a>
            <span>|</span>
            <a href="">小爱开放平台</a>
            <span>|</span>
            <a href="">企业团购</a>
            <span>|</span>
            <a href="">资质证照</a>
            <span>|</span>
            <a href="">协议规则</a>
            <span>|</span>
            <a href="">下载app</a>
            <span>|</span>
            <a href="">Select Region</a>
        </div>
        <div class="fr">
            <a href="">登录</a>
            <span>|</span>
            <a href="">注册</a>
            <span>|</span>
            <a href="">消息通知</a>
            <div class="cart">
                <i>购物车(0)</i>
            </div>
        </div>
    </div>
</div>
<!-- 头部顶部导航 end -->