<!-- 导航条 -->
<div class="header container clearfix">
    <div class="header-logo fl">
        <a href="#" class="fl">&nbsp;&nbsp;这不是小米</a>
    </div>
    <div id="header-nav" class="fl">
        <ul class="clearfix">
            <li><a href="#">小米手机</a></li>
            <li><a href="#">Redmi 红米</a></li>
            <li><a href="#">电视</a></li>
            <li><a href="#">笔记本</a></li>
            <li><a href="#">家电</a></li>
            <li><a href="#">路由器</a></li>
            <li><a href="#">智能硬件</a></li>
            <li><a href="#">服务</a></li>
            <li><a href="#">社区</a></li>
        </ul>
    </div>
    <div id="search" class="clearfix fr">
        <!-- js添加效果 加上 con -->
        <input type="text" class="text">
        <div class="btn">&nbsp;</div>
        <div class="words">
            <a href="#">
                小米9
            </a>
            <a href="#">
                小米9 SE
            </a>
        </div>
        <div class="searchList">
            <a href="">小米9</a>
            <a href="">小米9</a>
            <a href="">小米9</a>
            <a href="">小米9</a>
            <a href="">小米9</a>
            <a href="">小米9</a>
            <a href="">小米9</a>
            <a href="">小米9</a>
            <a href="">小米9</a>
            <a href="">小米9</a>
        </div>
    </div>
</div>
<div class="header-nav-menu">
    <div class="container">
        <ul class="clearfix">
            <li class="fl">
                <div class="flag">
                    <span>新品</span>
                </div>
                <div class="img">
                    <img src="img/mi01.jpg" alt="">
                </div>
                <h6>小米9</h6>
                <p>
                    1999元
                </p>
            </li>
            <li class="fl">
                <div class="flag">
                    <span>新品</span>
                </div>
                <div class="img">
                    <img src="img/mi01.jpg" alt="">
                </div>
                <h6>小米9</h6>
                <p>
                    1999元
                </p>
            </li>
            <li class="fl">
                <div class="flag">
                    <span>新品</span>
                </div>
                <div class="img">
                    <img src="img/mi01.jpg" alt="">
                </div>
                <h6>小米9</h6>
                <p>
                    1999元
                </p>
            </li>
            <li class="fl">
                <div class="flag">
                    <span>新品</span>
                </div>
                <div class="img">
                    <img src="img/mi01.jpg" alt="">
                </div>
                <h6>小米9</h6>
                <p>
                    1999元
                </p>
            </li>
            <li class="fl">
                <div class="flag">
                    <span>新品</span>
                </div>
                <div class="img">
                    <img src="img/mi01.jpg" alt="">
                </div>
                <h6>小米9</h6>
                <p>
                    1999元
                </p>
            </li>
            <li class="fl con">
                <div class="flag">
                    <span>新品</span>
                </div>
                <div class="img">
                    <img src="img/mi01.jpg" alt="">
                </div>
                <h6>小米9</h6>
                <p>
                    1999元
                </p>
            </li>
        </ul>
    </div>
</div>
<!-- 导航条 end -->