<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>不是所有网站都叫小米</title>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/mi.css" />
	</head>
	<body>
		<!-- 组件化 html+css+js一组一个功能 -->
		<!-- 头部顶部导航 -->
		<%- include("./public/header_top.html")%>

		<!-- 导航条 -->
		<%- include("./public/header_nav.html")%>


		<div class="container wrapper">
			<!-- 轮播图 -->
			<div class="slide">
				<ul>
					<li class="clearfix">
						<img src="img/slider.jpg" alt="">
					</li>
				</ul>
				<div class="btn">
					<div class="Lbtn"></div>
					<div class="Rbtn"></div>
				</div>
				<ol class="clearfix">
					<li class="con"></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>
			<!-- 轮播图end -->
			<!-- 分类 -->
			<div class="category">
				<ul>
					<li>
						<a href="">手机 电话卡</a>
						<div class="item">
							<ol class="clearfix">
								<li class="fl">
									<a class="clearfix" href="">
										<img class="fl" src="img/mi9.png" alt="">
										<span class="fl">小米9</span>
									</a>
								</li>
							</ol>
						</div>
					</li>

					<li>
						<a href="">电视 盒子</a>
					</li>

					<li>
						<a href="">笔记本 平板</a>
					</li>

					<li>
						<a href="">家电 插线板</a>
					</li>

					<li>
						<a href="">出行 穿戴</a>
					</li>

					<li>
						<a href="">智能 路由器</a>
					</li>

					<li>
						<a href="">电源 配件</a>
					</li>

					<li>
						<a href="">健康 儿童</a>
					</li>

					<li>
						<a href="">耳机 音箱</a>
					</li>

					<li>
						<a href="">生活 箱包</a>
					</li>
				</ul>
			</div>
			<!-- 分类end -->
		</div>

		<!-- 右侧导航栏 -->
		<div class="rightBar">
			<ul>
				<li class="clearfix">
					<a href="#">
						<div class="img"><img src="img/01.png"></div>
						<p>售后服务</p>
					</a>
				</li>
				<li class="clearfix">
					<a href="#">
						<div class="img"><img src="img/01.png"></div>
						<p>售后服务</p>
					</a>
				</li>
				<li class="clearfix">
					<a href="#">
						<div class="img"><img src="img/01.png"></div>
						<p>售后服务</p>
					</a>
				</li>
				<li class="clearfix">
					<a href="#">
						<div class="img"><img src="img/01.png"></div>
						<p>售后服务</p>
					</a>
				</li>
			</ul>
		</div>
		<!-- 右侧导航栏 end -->

		<div class="container">
			<img class="m-tb" src="img/xmad_15625126063988_sCIBm.jpg" alt="">
		</div>
		
		<!-- 家电 -->
		<div class="homeelec">
			<div class="container">
				<div class="box-hd clearfix">
					<h1 class="fl">家电</h1>
					<div class="fr">
							<a href="" class="con">热门</a>
							<a href="">电视</a>
							<a href="">影音</a>
							<a href="">电脑家居</a>
						
					</div>
				</div>
				<div class="box-bd clearfix">
					<div class="fl bdleft">
						<a href="" class="fl m-bottom">
							<img src="img/mib.jpg" alt="">
						</a>
						
						<a href="" class="fl">
							<img src="img/mib.jpg" alt="">
						</a>
					</div>
					<div class="fl bdright m-left">
						<ul class="clearfix">
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<img class="m-tb" src="img/xmad_15616416915404_oeXOL.jpg" alt="">
			</div>
		</div>
		<!-- 家电end -->
	
		<!-- 智能 -->
		<div class="homeelec">
			<div class="container">
				<div class="box-hd clearfix">
					<h1 class="fl">智能</h1>
					<div class="fr">
							<a href="" class="con">热门</a>
							<a href="">电视</a>
							<a href="">影音</a>
							<a href="">电脑家居</a>
						
					</div>
				</div>
				<div class="box-bd clearfix">
					<div class="fl bdleft">
						<a href="" class="fl m-bottom">
							<img src="img/mib.jpg" alt="">
						</a>
						
						<a href="" class="fl">
							<img src="img/mib.jpg" alt="">
						</a>
					</div>
					<div class="fl bdright m-left">
						<ul class="clearfix">
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
							<li class="fl m-right m-bottom">
								<div class="flag flag-new">
									新品
								</div>
								<div class="img">
									<img src="img/mi01.jpg" alt="">
								</div>
								<h5>米家互联电视机</h5>
								<h6>电视拥有抽烟机功能</h6>
								<div class="price">
									<span>1999元</span>
									<del>2999元</del>
								</div>
								<div class="bottom">
									<p>满意，很好用，很开心。。。</p>
									<p class="c1">来自于 涛哥 评价</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<img class="m-tb" src="img/xmad_15616416915404_oeXOL.jpg" alt="">
			</div>
		</div>
		<!-- 智能end -->
		
		<!-- 为你推荐 -->
		<div class="recommend">
			<div class="container">
				<div class="box-hd">
					<h1>为你推荐</h1>
					<div class="btn clearfix">
						<span class="prev fl"></span>
						<span class="next fl"></span>
					</div>
				</div>
				<div class="box-bd">
					<ul class="clearfix">
						<li class="fl m-right">
							<a href="">
								<div class="img">
									<img src="img/mi01.jpg" >
								</div>
								<h5>小米手环4 NFC版</h5>
								<span>229元</span>
								<h6 class="m-top">4157人好评</h6>
							</a>
						</li>
						<li class="fl m-right">
							<a href="">
								<div class="img">
									<img src="img/mi01.jpg" >
								</div>
								<h5>小米手环4 NFC版</h5>
								<span>229元</span>
								<h6 class="m-top">4157人好评</h6>
							</a>
						</li>
						<li class="fl m-right">
							<a href="">
								<div class="img">
									<img src="img/mi01.jpg" >
								</div>
								<h5>小米手环4 NFC版</h5>
								<span>229元</span>
								<h6 class="m-top">4157人好评</h6>
							</a>
						</li>
						<li class="fl m-right">
							<a href="">
								<div class="img">
									<img src="img/mi01.jpg" >
								</div>
								<h5>小米手环4 NFC版</h5>
								<span>229元</span>
								<h6 class="m-top">4157人好评</h6>
							</a>
						</li>
						<li class="fl m-right">
							<a href="">
								<div class="img">
									<img src="img/mi01.jpg" >
								</div>
								<h5>小米手环4 NFC版</h5>
								<span>229元</span>
								<h6 class="m-top">4157人好评</h6>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 为你推荐 end -->

		<!-- 底部信息 -->
		<%- include("./public/footer.html")%>
	</body>
</html>
